* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(223, 222, 166);
  padding: 0 20px;
  background-image: url(../images/bg.jpg);
}

p {
  font-size: 15px;
  color: rgb(216, 179, 123);
  font-weight: bold;
  text-align: center;
}

.head-container {
  padding: 50px 0;
  align-items: center;
}

header h1 {
  margin-bottom: 10px;
  text-align: center;
}

header p {
  text-align: right;
}

input {
  font-size: 16px;
  margin-left: 5px;

}

.container {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	max-width: 1210px;
	margin: auto;
}

.movie-item {
  color: rgb(149, 187, 202);
  border: 1px solid rgb(88, 107, 131);
  border-radius: 4px;
  max-width: 200px;
  align-items: center;
  margin-bottom: 20px;
}

.movie-item:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgb(226, 181, 181);
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.buttons {
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 5px;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  transition: 0.2s;
} 

a.buttons:hover { background: rgba(255,255,255,.2); }
a.buttons:active { background: white; }

.pagination {
  display: grid;
  padding-bottom: 50px;
}

.pagination-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.pagination-wrapper a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: rgb(94, 206, 206);
}

.active {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
}



.pagination-wrapper a:hover:not(.active) {
  background-color: #ddd;
}
