* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(223, 222, 166);
  padding: 0 20px;
  background-image: url(../images/bg.jpg);
}

p {
  font-size: 15px;
  color: rgb(216, 179, 123);
  font-weight: bold;
  text-align: center;
}

.head-container {
  padding: 50px 0;
  align-items: center;
}

header h1 {
  margin-bottom: 10px;
  text-align: center;
}

header p {
  text-align: right;
}

input {
  font-size: 16px;
  margin-left: 5px;

}

.container {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	max-width: 1210px;
	margin: auto;
}

.movie-item {
  color: rgb(149, 187, 202);
  border: 1px solid rgb(88, 107, 131);
  border-radius: 4px;
  max-width: 220px;
  align-items: center;
  margin-bottom: 20px;
}
