lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
.env
oauth.credentials

# Dependency directory
.vscode
node_modules
bower_components
dist

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
justHTML/index.html
justHTML/top.jpg
justHTML/js.js
justHTML/css.css
