.blogs {
    padding-bottom: 30px;
}
.blogs__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto 50px;
    align-items: center;
}

.blogs__description {
    max-width: 460px;
}

.blogs__description h3 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.33px;
    font-style: italic;
    margin-bottom: 25px;
}

.blogs__description p {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.06px;
    margin-bottom: 50px;
}

.blogs__description a {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 16px 30px;

    line-height: 1;
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06px;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.blogs__description a:hover {
    background-color: black;
    color: #fff;
}

@media (min-width: 640px) {

}


@media (min-width: 1200px) {
    .blogs {
        padding-bottom: 70px;
    }

    .blogs__item {
        flex-direction: row;
        margin-bottom: 190px;
    }
    
    .blogs__item:nth-child(odd) {
        flex-direction: row-reverse;
    }
}