@import "blocks/nav.css";
@import "blocks/header.css";
@import "blocks/videos.css";
@import "blocks/instructors.css";
@import "blocks/blogs.css";
@import "blocks/footer.css";


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

@media (min-width: 640px) {

}


@media (min-width: 1460px) {

}