footer {
    height: 100px;
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
}

footer a {
    display: flex;
}

footer .container {
    width: 100%;
    max-width: 1200px;
}

.social-buttons {
    display: flex;
    align-items: center;
}

.social-buttons a {
    margin-left: 40px;
}

.social-buttons a:first-child {
    margin-left: 0px;
}

@media (max-width: 450px) {
    footer .container {
        justify-content: center;
    }
}