@import "blocks/navbar.css";
@import "blocks/header.css";
@import "blocks/services.css";
@import "blocks/clients.css";
@import "blocks/team.css";
@import "blocks/footer.css";
* {
    margin: 0;
    padding: 0;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    /* scroll-behavior: smooth; */
}

.container {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
}

section {
    position: relative;
    padding: 100px 0;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0;
    border-bottom: 2px solid rgba(194, 194, 194, 0.6);
}

section:before {
    content: "";
    border: 0;
    font-size: 20px;
    height: 20px;
    color: #c2c2c2;
    text-transform: uppercase;
    background-color: white;
    padding: 0px 21px 0px 16px;
    position: absolute;
    top: -12px;
}

section#services:before {
    content: "Our services";
}

section#clients:before {
    content: "Our clients";
}

section#team:before {
    content: "Our team";
}

.off {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width:990px) and (max-width: 1216px) {
    .container {
        width: unset;
    }
}

@media (min-width: 670px) and (max-width: 990px) {
    .container {
        width: unset;
    }
    section {
        padding: 50px 0;
    }
}

@media (max-width: 670px) {
    .container {
        width: unset;
    }
    section {
        padding: 50px 0;
    }
    section:before {
        font-size: 15px;
    }
}