.movie-item
    .movie-img
        img(src='https://image.tmdb.org/t/p/w200' + movie.poster_path)
    .movie-name
        p #{movie.title}
    .movie-rating
        p IMDb: #{movie.vote_average}
    .buttons
        a.buttons(href='#') To whishlist
        a.buttons(href='#') Watched